@model User


<h1 class=" text-center text-capitalize text-dark">this is page of  Login </h1>

<form asp-controller="User" asp-action="Login">
    <div class=" text-danger">@ViewBag.Error</div>
    <div class="my-3">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
    </div>

    <div class="my-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>


    <button type="submit" class="btn btn-outline-primary">Login</button>
</form>

